@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

:root {
  --max-width: 1100px;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Pro';
  font-weight: 700;
  src: url('/public/fonts/ITCAvantGardeStd-Bk.woff2') format('woff2'),
       url('/public/fonts/ITCAvantGardeStd-Bk.woff') format('woff'),
       url('/public/fonts/ITCAvantGardeStd-Bk.eot') format('eot'),
       url('/public/fonts/ITCAvantGardeStd-Bk.ttf') format('ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
